.cardContainer {
  border: 2px solid gray;
  min-width: 100%;
  min-height: 100px;
  border-radius: 5px;
}

.cardHeader {
  font-size: x-large;
  text-align: center;
  padding: 5px;
}

.cardBody {
  padding-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.cardBody > span {
  color: gray;
  width: inherit;
  cursor: pointer;
}

.cardBody > span:hover {
  color: black;
}