.loginForm {
    text-align: center;
    margin-top: 20%;
}

.loginButton {
    width: 50%;
}

.loginButton:hover {
    background-color: seagreen;
    color: seashell;
}

.loginButton:active {
    background: white;
}

input { 
    text-align: center; 
}

.error {
    background-color: white;
    color: red;
}

.forgotPassword {
    width: 50%;
}

.forgotPassword:hover {
    background-color: yellow;
}