.loginForm {
    text-align: center;
    margin-top: 20%;
}

.loginButton {
    width: 50%;
}

.loginButton:hover {
    background: #cccccc;
}

.loginButton:active {
    background: white;
}

input { 
    text-align: center; 
}